@page
@model Bank.Pages.Customer.CustomerModel
@{
	Layout = "_DashboardLayout";
}


@if (TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <h1 class="card-title">
                    @Model.CustomerFirstName @Model.CustomerLastName
                </h1>
                <h3>Customer Info</h3>
                <div>
                    <table>

                        <tr>
                            <th style="font-size: 20px">Nat Id:  </th>
                            <td>@Model.NationalId</td>
                        </tr>
                        <tr>
                            <th style="font-size: 20px">Adress: </th>
                            <td>@Model.CustomerAdress</td>
                        </tr>
                        <tr>
                            <th style="font-size: 20px">City: </th>
                            <td>@Model.CustomerCity</td>
                        </tr>
                        <tr>
                            <th style="font-size: 20px">Zipcode: </th>
                            <td>@Model.CustomerZipcode</td>
                        </tr>
                        <tr>
                            <th style="font-size: 20px">Country: </th>
                            <td>@Model.CustomerCountry</td>
                        </tr>
                        <tr>
                            <th style="font-size: 20px">Email: </th>
                            <td>@Model.CustomerMail</td>
                        </tr>

                        <tr>
                            <td>
                                <a class="btn btn-primary" style="width:275px; margin-right: -150px"
                                   asp-page="/Customer/EditCustomer" asp-route-id="@Model.CustomerId">
                                    Edit Customer
                                </a>
                            </td>
                            <td></td>
                            <td>
                                <form asp-page-handler="SoftDeleteCustomer" asp-route-id="@Model.CustomerId">
                                    <button type="submit" class="btn"
                                            style="background-color: #666; color: white; margin-left:-50px; border-width:4px; border-color:#e60000; width: 275px;"
                                            onclick="return confirmDeactivateAction()">
                                        Deactivate customer
                                    </button>

                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col">
                @if (Model.Gender == "male")
                {
                    <img src="/assets/img/man bigger.png" alt="Customer Pic" style="width:250px; height:auto; margin-left:200px; margin-top: 50px;" />
                }
                else if (Model.Gender == "female")
                {
                    <img src="/assets/img/woman bigger.png" alt="Customer Pic" style="width:250px; height:auto; margin-left:200px " />
                }
            </div>

        </div>
    </div>
</div>
<div class="card mt-4">
    <div class="card-body">
        <div class="col">
            <h2>Accounts</h2>
            <h4>Total Balance: $@Model.TotalBalance</h4>
            <table>
                <thead>
                    <tr style="font-size:20px">
                        <th class="px-3">
                            Account
                        </th>
                        <th class="px-3">
                            Created
                        </th>
                        <th class="px-3">
                            Balance
                        </th>
                        <th class="px-3"></th>
                        <th class="px-3"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var account in Model.CustomerAccounts)
                    {
                        <tr style="font-size:16px">
                            <td class="px-4 align-middle text-center">@account.AccountId</td>
                            <td class="px-4 align-middle text-center">@account.Created</td>
                            <td class="px-4 align-middle text-center">$@account.Balance</td>
                            <td class="px-3">
                                <a class="btn btn-primary w-100" asp-page="/Transactions/Transaction" asp-route-accountId="@account.AccountId" asp-route-customerId="@Model.CustomerId">
                                    Transactions
                                </a>
                            </td>
                            <td class="px-3">
                                <form method="post" asp-page-handler="DeleteAccount" asp-route-accountId="@account.AccountId" asp-route-id="@Model.CustomerId">
                                    <button type="submit" class="btn btn-danger confirm-btn" style="border-width: 4px; border-color: #e60000" onclick="return confirmDeleteAction()">
                                        Delete account
                                    </button>
                                </form>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            <a class="btn btn-primary" asp-page="/Accounts/CreateNewAccount" asp-route-id="@Model.CustomerId">Create account</a>
        </div>
    </div>
</div>

<div class="justify-content-between" style="margin-top:10px">
    <a class="btn btn-secondary"
       asp-page="/Customers/Customers">
        Back
    </a>


</div>


@section Scripts {

    <script>
        window.onload = function () {
            setTimeout(function () {
                var messageElement = document.getElementById('successMessage');
                if (messageElement) {
                    messageElement.style.opacity = 0;
                    setTimeout(function () {
                        messageElement.style.display = 'none';
                    }, 600);                 }
            }, 3000);
        };
    </script>

    <script type="text/javascript">
        function confirmDeactivateAction() {
            return confirm("Are you sure you wan't to Deactivate this customer?");
        }

        function confirmDeleteAction() {
            return confirm("Are you sure you wan't to Delete this account?");
        }
    </script>

    <script>
        $(document).ready(function () {

            $('#yourButtonId').click(function () {
                $('#confirmationModal').modal('show');
            });

            function confirmAction() {
                $('#confirmationModal').modal('hide');
            }
        });
    </script>



}
